#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage {
  flex-grow: 1;
}

body {
  background-image: url("https://us.123rf.com/450wm/aquamarine1paint/aquamarine1paint1708/aquamarine1paint170800010/83332862-patr%C3%B3n-sin-fisuras-con-great-dane-y-chihuahua-silueta-peine-collar-correa-hueso-taz%C3%B3n-para-la.jpg?ver=6");
}
