#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage {
  flex-grow: 1;
}

body {
  
    background: #7ec9f5; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #7ec9f5 0%,
      #3957ed 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #7ec9f5 0%,
      #3957ed 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #7ec9f5 0%,
      #3957ed 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec9f5', endColorstr='#3957ed',GradientType=1 ); /* IE6-9 */
}
